.table-body {
    height: 300px;
    overflow-y: scroll;
    width: 90%;
}
.table-head {
  width: 90%;
}
.table-head,
.table-body,
.table-fixed tr,
.table-fixed td,
.table-fixed th {
    display: block;
    border-collapse: separate;
}

.table-body td,
.table-body th,
.table-head > tr > th {
    display: inline-block;
    position: relative;
}
